@model IEnumerable<Prueba_Especialista_.NET.Models.Visit>

@{
    ViewData["Title"] = "Listado de Visitas";
}

<h1>Listado de Visitas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva visita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commercial.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
